<main style="width:40%;padding-bottom:20px;">
  <form name="pirateform" novalidate ng-submit="formSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Name:</label>
      <input type="text" class="form-control" placeholder="name" ng-model="formData.name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Poison:</label>
      <input type="text" class="form-control" placeholder="poison" ng-model="formData.poison">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Accessories:</label>
      <input type="text" class="form-control" placeholder="accessories" ng-model="formData.accessory">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Image Url:</label>
      <input type="text" class="form-control" placeholder="Image Url" ng-model="formData.image_url">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</main>


<section ng-repeat="pirate in pirates" class="jumbotron" style="padding:10px">
  <article class="row">

    <div class="col-md-4">
      <img ng-src="{{pirate.image_url}}" style="width:400px">
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h2 ng-bind="pirate.name"></h2>
      <h3 ng-bind="pirate.accessory"></h3>
      <h3 ng-bind="pirate.poison"></h3>
    </div>
  </article>
</section>
